{% extends 'base.html' %}
{% load static %}

{% block header_content %}
  <!-- Page Header -->
  <div class="container h-25 w-25  mt-5">
    <img src="{% static 'img/logout.svg' %}" alt="logout">
  </div>
  <header class="container px-4 px-lg-5 mb-4">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading text-center">
          <h1>See You Later</h1>
          <span class="subheading">
            You have logged out. <br /> <a href="{% url 'accounts:login' %}" class="fs-4 text-decoration-underline">login</a> again to manage your posts!
          </span>
        </div>
      </div>
    </div>
  </header>
{% endblock header_content %}
