{% extends 'base.html' %}
{% load static %}

{% block header_content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/login.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="page-heading">
            <h1>Login</h1>
            <span class="subheading">Welcome back, before continuing please login.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header_content %}

{% block main_content %}
  <!-- Main Content -->
  <main class="container mb-4 d-flex justify-content-center">
    <div class="col-md-9 col-lg-7 col-xl-6">
      {% if form.errors %}
        <p class="text-center text-danger">Your email and password didn't match! Please try again.</p>
      {% endif %}
      <h2 class="h3 mb-3 fw-normal text-center">Log-in Here</h2>
      <form class="rounded border border-3 px-4 custom-width" method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}

        <div class="form-floating rounded-5 custom-width">
          <input type="email" class="form-control" id="user_email" name="username" placeholder="name@example.com" />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-4 rounded-5 custom-width">
          <input type="password" class="form-control" id="user_password" name="password" placeholder="Password" />
          <label for="floatingPassword">Password</label>
        </div>

        <input type="hidden" name="next" value="{{ next }}" />

        <div class="custom-width">
            <button class="btn btn-primary w-100 py-2 rounded-5" type="submit">Log in</button>
        </div>
        <p class="m-3 text-center fs-6">
          Don't Have an account? <a href="{% url 'accounts:register' %}">Register</a> here.
        </p>
      </form>
    </div>
  </main>
{% endblock main_content %}
