.custom-width {
  max-width: 475px;
  margin: 0 auto;
}

.bg-cover {
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
}

.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or 'contain' depending on the desired effect */
}

.header-image {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
