{% extends 'base.html' %}
{% load static %}

{% block header_content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1>Ink Impressions</h1>
            <span class="subheading">A Blog For Special Tastes</span>
            <!-- Page Title -->
            <h3 class="d-inline-block bg-secondary rounded-pill p-4 mt-4">
              <i class="bi bi-arrow-down-circle"></i>
              {{ page_title|title }}
            </h3>
            
            <!-- Return link to blog index page -->
            {% if not is_home %}
            <a href="{% url 'blog:index' %}" class="btn btn-outline-light mt-4 rounded fs-4">
              <i class="bi bi-arrow-left"></i> Return to Recent Posts
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block main_content %}
  <!-- Main Content -->
  <div class="container px-4 px-lg-5">
    <div class="row gx-5 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-9 col-xl-8">
        {% for post in posts %}
        <!-- Post preview -->
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
                <a href="{% url 'blog:post-detail' post.slug %}">
                  <img class="img-fluid rounded-start h-100" src="{{ post.image.url }}" alt="{{ post.title }}">
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a href="{% url 'blog:post-detail' post.slug %}">
                    <h5 class="card-title fw-bold fs-5">{{ post.title|title }}</h5>
                    <p class="card-text fw-lighter fs-6 mt-3">{{ post.content|truncatewords:15 }}</p>
                  </a>
                  <p class="card-text">
                    <small class="text-body-secondary">
                    Posted by
                    <a href="{% url 'blog:author' author_username=post.author.username %}">{{ post.author.username }}</a>
                    on {{ post.published_at|date:'d M Y' }}
                  </small>
                  {% if post.category %}
                  <a href="{% url 'blog:category' cat_slug=post.category.slug %}" class="badge rounded-pill text-bg-secondary ms-2 text-decoration-none fw-italic">
                    {{ post.category.name }}
                  </a>
                  {% endif %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <!-- Pager -->
        {% if page_obj %}
        <div class="d-flex justify-content-center mb-4">
          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
              <a class="btn btn-primary p-3 text-uppercase rounded-pill" href="?page=1">&laquo; first</a>
              <a class="btn btn-primary p-3 text-uppercase rounded-pill me-2" href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              
              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
              </span>
              
              {% if page_obj.has_next %}
              <a class="btn btn-primary p-3 text-uppercase rounded-pill ms-2" href="?page={{ page_obj.next_page_number }}">next</a>
              <a class="btn btn-primary p-3 text-uppercase rounded-pill" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div>
        {% endif %}
        {% if not is_home %}
        <div class="d-flex justify-content-center mb-4">
          <div class="d-block">
            <a href="{% url 'blog:index' %}" class="btn btn-outline-primary rounded fs-5">
              <i class="bi bi-arrow-left"></i> Return to Recent Posts
            </a>
          </div>
        </div>
        {% endif %}
      </div>
      <!-- Sidebar -->
      <div class="col-md-2 col-lg-3 col-xl-4">
        <div class="row">
          <h3>Categories</h3>
          <ul class="list-group">
            {% for category in categories %}
            <li class="list-group-item list-group-item-action cursor-pointer {% if selected_category == category.name %} active {% endif %}">
              <a href="{% url 'blog:category' cat_slug=category.slug %}" class="d-flex justify-content-between align-items-center">
                {{ category.name }}
                <span class="badge {% if selected_category == category.name %} text-bg-light {% else %} text-bg-primary {% endif %} rounded-pill">
                  {{ category.published_post_count }}
                </span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- Sidebar end -->
    </div>
  </div>
{% endblock %}
