{% extends 'base.html' %}
{% load static %}

{% block header_content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1>Ink Impressions</h1>
            <span class="subheading">A Blog For Special Tastes</span>
            <!-- Page Title -->
            <h3 class="d-inline-block bg-secondary rounded-pill p-4 mt-4">
              <i class="bi bi-arrow-down-circle"></i>
              {{ page_title|title }}
            </h3>
            
            <!-- Return link to blog index page -->
            {% if not is_home %}
            <a href="{% url 'blog:index' %}" class="btn btn-outline-light mt-4 rounded fs-4">
              <i class="bi bi-arrow-left"></i> Return to Recent Posts
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block main_content %}
  <!-- Main Content -->
  <div class="container px-4 px-lg-5">
    <div class="row gx-2 gx-lg-3 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for post in posts %}
          <!-- Post preview -->
          <div class="row">
            <div class="col-3 d-flex align-items-center justify-content-center">
              <a href="{% url 'blog:post-detail' post.slug %}">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid w-100 fit-image" />
              </a>
            </div>
            <div class="post-preview col-9">
              <a href="{% url 'blog:post-detail' post.slug %}">
                <h2 class="post-title">{{ post.title|title }}</h2>
                <h3 class="post-subtitle">{{ post.content|truncatewords:15 }}</h3>
              </a>
              <p class="post-meta">
                Posted by
                <a href="{% url 'blog:author' author_username=post.author.username %}">{{ post.author.username }}</a>
                on {{ post.published_at|date:'d M Y' }}
                
                {% if post.category %}
                <a href="{% url 'blog:category' cat_slug=post.category.slug %}" class="badge rounded-pill text-bg-secondary ms-2">{{ post.category.name }}</a>
                {% endif %}
                  
              </p>
            </div>
          </div>
          <!-- Divider -->
          <hr class="my-4" />
        {% endfor %}

        <!-- Pager -->
        {% if page_obj %}
        <div class="d-flex justify-content-center mb-4">
          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
              <a class="btn btn-primary p-3 text-uppercase rounded-pill" href="?page=1">&laquo; first</a>
              <a class="btn btn-primary p-3 text-uppercase rounded-pill me-2" href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              
              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
              </span>
              
              {% if page_obj.has_next %}
              <a class="btn btn-primary p-3 text-uppercase rounded-pill ms-2" href="?page={{ page_obj.next_page_number }}">next</a>
              <a class="btn btn-primary p-3 text-uppercase rounded-pill" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div>
        {% endif %}
        {% if not is_home %}
        <div class="d-flex justify-content-center mb-4">
          <div class="d-block">
            <a href="{% url 'blog:index' %}" class="btn btn-outline-primary rounded fs-5">
              <i class="bi bi-arrow-left"></i> Return to Recent Posts
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
