{% extends 'base.html' %}
{% load static %}

{% block main_content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ post.image.url }}')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <a href="{% url 'blog:index' %}" class="btn btn-outline-light mb-2 rounded">
            <i class="bi bi-arrow-left"></i> Return Home
          </a>
          <img class="header-image" src="{{ post.image.url }}" alt="{{ post.title }}">
          <div class="post-heading">
            <h1>{{ post.title|title }}</h1>
            <span class="meta">
              Posted by
              <a href="{% url 'blog:author' author_username=post.author.username %}">{{ post.author.username }}</a>
              on {{ post.published_at }}
            </span>
            {% if post.category %}
              <a href="{% url 'blog:category' cat_slug=post.category.slug %}" class="btn btn-sm btn-outline-light p-3 mt-3 rounded-pill">
                {{ post.category.name }}
              </a>            
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Post Content -->
  <article class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <p>{{ post.content|linebreaks|safe }}</p>
        </div>
      </div>
    </div>
  </article>
  <hr class="my-2 mt-0">
  <div class="container px-4 px-lg-5 mb-3">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          <h4 class="my-2">Leave a Comment</h4>
          {% if request.user.is_authenticated %}
          <form class="form-control p-3" method="post" action="{% url 'comment:create-comment' slug=post.slug%}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="comment-subject" class="form-label">Subject</label>
              <input type="text" class="form-control" id="comment-subject" name="subject" required/>
            </div>
            <div class="mb-3">
              <label for="comment-message" class="form-label">Message</label>
              <textarea type="text" class="form-control" id="comment-message" name="message" style="height: 100px" required></textarea>
            </div>
            <div class="mb-3 d-flex justify-content-end">
              <button class="btn btn-primary rounded-2" type="submit">Submit</button>
            </div>
          </form>
          {% else %}
          <p class="mt-1">Please <a href="{% url 'accounts:login' %}">Login</a> if you want to leave a comment.</p>
          {% endif %}
      </div>
    </div>
  </div>
  <hr class="my-3 mt-0">
  <div class="d-flex justify-content-center mb-4">
    <div class="d-block">
      <a href="{% url 'blog:index' %}" class="btn btn-outline-primary rounded fs-5">
        <i class="bi bi-arrow-left"></i> Return Home
      </a>
    </div>
  </div>
{% endblock %}
